{% extends 'base.html' %}
{% load static %}
{% block body %}
<body>
     <!-- bradcam_area  -->
     <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Robots Listing</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->
<!-- job_listing_area_start  -->
<div class="job_listing_area plus_padding">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-3">
                <form method="POST" action="{%url 'robots:robot_listing_search'%}">
                    {% csrf_token %}
                <div class="job_filter white-bg">
                    <div class="form_inner white-bg">
                        <h3>Filter</h3>
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="single_field">
                                        <input name="RobotName" type="text" placeholder="Search keyword">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="single_field">
                                        <select class="wide" >
                                            <option data-display="Location">Location</option>
                                            {% for l in Location_list %}                         
                                            <option value="">{{l.Name}}</option>
                                            {% endfor %}
                                          </select>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="single_field">
                                        <select class="wide">
                                            <option data-display="Category">Category</option>
                                            {% for c in Category_list %}                         
                                            <option value="">{{c.Name}}</option>
                                            {% endfor %}
                                          </select>
                                    </div>
                                </div>
                            
                            </div>
                        </form>
                    </div>
               
                    <div class="reset_btn">
                        <button  class="boxed-btn3 w-100" type="submit">Search</button>
                    </div>
                </div> </form>
            </div>
           
            <div class="col-lg-9">
                <div class="recent_joblist_wrap">
                    <div class="recent_joblist white-bg ">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <h4>Robot Listing</h4>
                            </div>
                         
                        </div>
                    </div>
                </div>

                <div class="job_lists m-0">
                    <div class="row">
                        {% for r in Robot_list %}
                        <div class="col-lg-12 col-md-12">
                           <div class="single_jobs white-bg d-flex justify-content-between">
                               <div class="jobs_left d-flex align-items-center">
                                   <div class="thumb">
                                       <img style="width:49px;height: 49px;" src="{% static 'static_file/img/CR2.JPG'%}" alt="">
                                   </div>
                                   <div class="jobs_conetent">
                                       <a href="{%url 'robots:robot_details' r.id %}"><h4>{{r.Name}}</h4></a>
                                       <div class="links_locat d-flex align-items-center">
                                           <div class="location">
                                             <p>Model: {{r.Model}}</p>
                                           </div>
                                           <div class="location">
                                               <p>SN: {{r.SN}}</p>
                                           </div>
                                           <div class="location">
                                               <p>Software : {{r.Software}}</p>
                                           </div>
                                         
                                          <!--  <div class="location">
                                               <p> </i>MAC : {{r.MAC}}</p>
                                           </div> -->
                                       </div>
                                   </div>
                               </div>
                               <div class="jobs_right">
                                   <div class="apply_now">                                   
                                       <a href="{%url 'robots:robot_details' r.id %}" class="boxed-btn3">Schedule</a>
                                   </div>
                                  
                               </div>
                           </div>
                        </div>
                       {% endfor %}
                       

                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pagination_wrap">
                                <ul>
                                    <li><a href="#"> <i class="ti-angle-left"></i> </a></li>
                                    <li><a href="#"><span>01</span></a></li>
                                    <li><a href="#"><span>02</span></a></li>
                                    <li><a href="#"> <i class="ti-angle-right"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- job_listing_area_end  -->
</body>
{% endblock body %}
</html>
